.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-bottom: 4rem;
}

.card {
  img {
    width: 100%;
  }
  h4 {
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 500;
  }

  p {
    margin-bottom: 2rem;
  }

  a {
    color: #0067b8;
  }
}

.business-cards {
  margin-bottom: 2rem;
  h4 {
    font-weight: 600;
    padding-bottom: 2rem;
  }
}
