.hero,
.xbox {
  min-height: 65vh;
  @include flex(column, center, flex-start);

  .hero-content,
  .xbox-content {
    width: 40%;
    padding-left: 10rem;

    p {
      font-size: 1.6rem;
      padding-bottom: 3rem;
    }

    a {
      padding-left: 3.5rem;
    }
  }
}

.hero {
  background: url("../img/hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.xbox {
  background: url("../img/xbox_hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10rem;
  color: #fff;

  a {
    color: #fff;
  }
}
