.main-head {
  min-height: 8vh;
  padding-top: 2rem;
}

nav {
  @include flex(row, space-between, center);

  .nav-left {
    @include flex(row, space-between, center);

    .logo {
      flex: 2;
      padding-right: 2rem;

      img {
        width: 100%;
      }
    }

    ul {
      flex: 7;
      @include flex(row, space-between, center);
    }

    li {
      padding: 0 1rem;
    }
  }

  .nav-right {
    ul {
      @include flex(row, space-between, center);
    }

    li {
      padding: 0 1.6rem;
    }
  }
}
