* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 3.2rem;
  font-weight: 500;
  padding-bottom: 2rem;
}

h4,
h5 {
  font-size: 2.5rem;
}

a,
button,
li,
input,
textarea,
p {
  font-size: 1.4rem;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.2rem;
}

.container {
  width: 85%;
  margin: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #212121;
}

.btn {
  padding: 1rem 2rem;
  border: none;
  background: #fff;
  cursor: pointer;
}

.btn:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.3rem;
}

.btn-black {
  background: #000;
  color: #fff;
}

.btn-link {
  font-size: 1.6rem;
  font-weight: 500;
}

.main-head {
  min-height: 8vh;
  padding-top: 2rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-left .logo {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-right: 2rem;
}

nav .nav-left .logo img {
  width: 100%;
}

nav .nav-left ul {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-left li {
  padding: 0 1rem;
}

nav .nav-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-right li {
  padding: 0 1.6rem;
}

.hero {
  min-height: 65vh;
  background: url("../img/hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero .hero-content {
  width: 40%;
  padding-left: 10rem;
}

.hero .hero-content p {
  font-size: 1.6rem;
  padding-bottom: 3rem;
}

.hero .hero-content a {
  padding-left: 3.5rem;
}

.icons {
  min-height: 20vh;
}

.icons .icons-set {
  width: 70%;
  margin: 0 auto;
}

.icons .icons-set ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons .icons-set li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 6rem 3rem;
}

.icons .icons-set li a:hover {
  text-decoration-thickness: 0.1rem;
}

.icons .icons-set li p {
  font-size: 1.5rem;
  font-weight: 500;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-bottom: 10rem;
}

.card img {
  width: 100%;
}

.card h4 {
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: 500;
}

.card p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.card a {
  color: #0067b8;
}
/*# sourceMappingURL=style.css.map */